@{
    ViewData["Title"] = ViewBag.NomeProfessor;
}

<div style="display:flex">
    <h3>@ViewBag.NomeProfessor</h3>

    <form asp-controller="Login" asp-action="Logout" method="post">
        <button type="submit">Sair</button>
    </form>

    
</div>

<form asp-controller="Professors" asp-action="CadastrarTurma" method="post">
    <input type="text" name="nomeTurma" placeholder="Nome da Turma" />
    <button type="submit">Cadastrar</button>
</form>

<h1>Sua lista de turmas</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Numero
                </th>
                <th>
                    Nome da Turma
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var turma in Model)
            {
                <tr>
                    <td>@turma.TurmaId</td>
                    <td>@turma.Nome</td>
                    <td>
                        <form asp-action="DeletarTurma" method="delete">
                            <input type="hidden" name="turmaId" value="@turma.TurmaId"/>
                            <button type="submit">Excluir</button>
                        </form>
                        <form asp-action="EditarTurma" method="dialog">
                            <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                            <button type="submit">Editar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>